# 1. List : []
- 순서가 있는 수정이 가능한 데이터 타입

##### (1) 리스트 생성

In [1]:
student = [90,95,85,90]
student

[90, 95, 85, 90]

In [2]:
type(student)

list

##### (2) 리스트의 인덱스

In [3]:
# 변수명[i] : i는 인덱스(위치)

student[0] , student[2]

(90, 85)

In [5]:
# 범위 지정하여 자료 가져오기

student[1:3]  # 1부터 2까지

[95, 85]

In [6]:
student[:3]   # 처음부터 2까지

[90, 95, 85]

In [7]:
student[::-1]   # 역순

[90, 85, 95, 90]

In [8]:
student[::2]   # 0부터 둘씩 띄어서 가져오기

[90, 85]

In [9]:
student[:-2]   # 첫번째부터 -3까지

[90, 95]

In [10]:
# 인덱스 i 항목을 새로운 데이터로 변경하고 싶을때
# ex . 2번째 자료를 100으로 바꾸려면

student[1] = 100
student

[90, 100, 85, 90]

##### (3) 리스트의 형태

In [11]:
# 숫자, 문자열, 불, 리스트를 혼합한 형태의 리스트 가능

mixeList = [0,2,'python', 'program', True, student]
mixeList

[0, 2, 'python', 'program', True, [90, 100, 85, 90]]

##### (4) 리스트의 연결, 반복

In [13]:
# 리스트 연결 : 리스트1 + 리스트2
# 리스트 반복 : 리스트 * n

list1 = [1,2,3,4]
list2 = [5,6,7,8]

list3 = list1 + list2
list4 = list1*3

print(list3)
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

##### (5) 리스트의 항목 삭제

In [14]:
# 항목 삭제 : del

list_data = [1,2,3,4,5,6,7,8]

del list_data[0]    # 0번째 삭제

list_data

[2, 3, 4, 5, 6, 7, 8]

##### (6) 리스트에서 항목의 존재 여부 확인

In [15]:
# 항목 in 리스트

print(10 in list_data)
print(3 in list_data)

False
True

##### (7) 리스트 메서드
- 자료형.메서드이름( ) , 변수명.메서드이름( )
    - append(data)         : 맨 마지막에 추가
    - insert(i, data)      : 특정위치에 항목을 삽입
    - extend([data1,data2]): 여러개를 마지막에 추가
    - remove(data)         : 입력값과 첫번째로 일치하는 항목을 리스트에서 삭제
    - pop()                : 마지막 항목을 제거한 후 반환
    - index(data)          : 인자와 일치하는 것 첫번째 항목의 위치를 반환
    - count(data)          : 인자와 일치하는 항목의 개수를 반환
    - sort()               : 순방향으로 정렬
    - reverse()            : 역순으로 정렬

In [16]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']

In [17]:
# append

myFriends.append('Thomas')
myFriends

['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [18]:
# insert

myFriends.insert(2, 'Paul')
myFriends

['James', 'Robert', 'Paul', 'Lisa', 'Mary', 'Thomas']

In [20]:
# extend

myFriends.extend(['Laura', 'Betty'])
myFriends

['James', 'Robert', 'Paul', 'Lisa', 'Mary', 'Thomas', 'Laura', 'Betty']

In [21]:
# remove

nums = [0,1,2,3,4,3,2,1]

nums.remove(3)
nums

[0, 1, 2, 4, 3, 2, 1]

In [22]:
# pop

nums2 = [1,2,3,4]

number = nums2.pop()
print(nums2)
print(number)

[1, 2, 3]
4

In [23]:
# index

nums3 = [5,6,7,5,6,7]

nums3.index(5)

0

In [24]:
# count

nums4 = [5,5,6,6,7,8,10]

print(nums4.count(5))
print(nums4.count(9))

2
0

In [26]:
# sort

myFriends.sort()
myFriends

['Betty', 'James', 'Laura', 'Lisa', 'Mary', 'Paul', 'Robert', 'Thomas']

In [27]:
# reverse

myFriends.reverse()
myFriends

['Thomas', 'Robert', 'Paul', 'Mary', 'Lisa', 'Laura', 'James', 'Betty']

# 2. Tuple : ()
- 순서가 있는 수정이 불가능한 데이터 타입

##### (1) 튜플 생성

In [29]:
tp1 = (1,2,3,4,5)

print(tp1)
type(tp1)

(1, 2, 3, 4, 5)

tuple

In [30]:
# 괄호 없이해도 튜플로 만들어진다

tp2 = 5,6,7,8,9

print(tp2)
type(tp2)

(5, 6, 7, 8, 9)

tuple

##### (2) 튜플의 인덱스

In [31]:
# 리스트와 동일

tp1[0], tp2[:3]

(1, (5, 6, 7))

##### (3) 튜플의 메서드
- index, count는 사용가능
- 삭제, 변경 메서드는 사용 불가능

In [32]:
# index
tp1.index(3)

2

In [33]:
# count
tp1.count(4)

1

# 3. Dictionary : {}
- 순서가 없고 키:값으로 구성되어 있는 데이터 타입
- key : 숫자, 문자
- value : 다양한 데이터 타입

##### (1) 딕셔너리 생성

In [34]:
dict_data1 = {1:"버스", 3: "비행기", 4:"택시", 5:"자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [35]:
# 키값을 입력하면 밸류값이 나옴

dict_data1[3]

'비행기'

In [36]:
dict_data2 = {"list_data1":[11,12,13], "list_data2":[21,22,23]}
dict_data2

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}

In [37]:
dict_data2["list_data1"]

[11, 12, 13]

##### (2) 데이터의 추가, 변경, 삭제

In [38]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른'}

In [39]:
# 추가
country_capital["독일"] = "베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '독일': '베를린'}

In [40]:
# 변경
country_capital["호주"] = "캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [41]:
# 삭제
del country_capital["프랑스"]
country_capital

{'영국': '런던', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

##### (3) 딕셔너리 메서드
- keys() : 키 전체를 리스트 형태로 반환
- values() : 값 전체를 리스트 형태로 반환
- items() : 키와 값의 쌍을 (키,값)의 튜플형태로 반환
- update(dict_data2) : 딕셔너리 데이터 ('dict_data2')를 추가
- clear() : 모든 항목 삭제

In [42]:
fruit_code = {"사과":101, "배":102, "딸기":103}

In [43]:
# keys()
dict_key = fruit_code.keys()
dict_key

dict_keys(['사과', '배', '딸기'])

In [44]:
# values()
dict_value = fruit_code.values()
dict_value

dict_values([101, 102, 103])

In [45]:
type(dict_key)

dict_keys

In [46]:
# 결과값을 list나 tuple로 변환가능
list_key = list(dict_key)
tuple_key = tuple(dict_key)
list_key, tuple_key

(['사과', '배', '딸기'], ('사과', '배', '딸기'))

In [47]:
fruit_code.items()

dict_items([('사과', 101), ('배', 102), ('딸기', 103)])

In [48]:
# update
fruit_code.update({"오렌지":104, "수박":105})
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '오렌지': 104, '수박': 105}

# 4. Set : {}
- 순서가 없고 데이터를 중복으로 쓸 수 없다.

##### (1) 세트의 생성

In [52]:
set1 = {1,2,3,4,5}
set2 = {5,6,6,7,8}

In [53]:
set1, set2

({1, 2, 3, 4, 5}, {5, 6, 7, 8})

##### (2) 세트메서드, 세트연산자
- 교집합 : intersection(), &
- 합집합 : union(), |
- 차집합 : difference(), -
    - 집합 A에대한 집합 B의 교집합 : A.intersection(B), A&B
    - 집합 A에대한 집합 B의 합집합 : A.union(B), A|B
    - 집합 A에대한 집합 B의 차집합 : A.difference(B), A-B

In [54]:
# 교집합

set1.intersection(set2)

{5}

In [55]:
set1 & set2

{5}

In [56]:
# 합집합

set1.union(set2), set1|set2

({1, 2, 3, 4, 5, 6, 7, 8}, {1, 2, 3, 4, 5, 6, 7, 8})

In [57]:
# 차집합

set1.difference(set2), set1-set2

({1, 2, 3, 4}, {1, 2, 3, 4})

##### (3) 리스트, 튜플, 세트는 타입변환 가능

In [58]:
list_set = list(set1)
tp_set = tuple(set1)

print(list_set)
print(tp_set)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)