# 1. 함수의 기본구조

### (1) 인자도 반환값도 없는 함수

In [1]:
def my_func():
    print("My first function!")
    print('This is a function.')

In [2]:
my_func()

My first function!
This is a function.

### (2) 인자는 있으나 반환값이 없는 함수

In [3]:
def my_friend(friendName):
    print('{}는 나의 친구입니다.'.format(friendName))

In [4]:
my_friend('철수')

철수는 나의 친구입니다.

In [5]:
def my_student_info(name, school_ID, phoneNumber):
    print("***************************")
    print("* 학생이름 : ", name)
    print("* 학급번호 : ", school_ID)
    print("* 전화번호 : ", phoneNumber)

In [6]:
my_student_info('현아','01','01-234-5678')

***************************
* 학생이름 :  현아
* 학급번호 :  01
* 전화번호 :  01-234-5678

In [7]:
result = my_student_info('현아','01','01-234-5678')

***************************
* 학생이름 :  현아
* 학급번호 :  01
* 전화번호 :  01-234-5678

In [8]:
result  # 아무런 값이 안나온다

In [9]:
# 함수의 인자로 리스트, 세트, 튜플, 딕셔너리를 사용할수도 있다.
def my_student_info_list(student_info):
    print("***********************")
    print("* 학생이름 : ", student_info[0])
    print("* 학급번호 : ", student_info[1])
    print("* 전화번호 : ", student_info[2])
    print("***********************")

In [10]:
my_student_info_list(['현아','01','01-234-5678'])

***********************
* 학생이름 :  현아
* 학급번호 :  01
* 전화번호 :  01-234-5678
***********************

### (3) 인자도 있고 반환 값고 있는 함수

In [11]:
def my_calc(x,y):
    z = x * y
    return z

In [12]:
my_calc(2,3)

6

In [13]:
result = my_calc(2,3)

In [14]:
result  # 값이 나옴

6

# 2. 변수의 유효범위
- 지역변수 : 함수 안에서 정의한 변수. 함수 영역 안에서만 동작
    - 지역영역 (local scope) : 지역 변수를 저장하는 공간
- 전역변수 : 함수 밖에서 생성한 변수
    - 전역 영역 (global scope) : 전역변수를 저장하는 공간

In [15]:
a = 5

def func1():
    a = 1    # 지역변수, func1()에서만 사용
    print("[func1] 지역변수 a = ", a)

def func2():
    a = 2    # 지역변수, func2()에서만 사용
    print("[func2] 지역변수 a = ", a)

def func3():
    print("[func3] 전역변수 a = ", a)

def func4():
    global a  # 함수 내에서 전역변수 변경 위해 사용
    a = 4     # 전역변수의 값 변경
    print("[func4] 전역변수 a = ", a)

def func5():
    print("[func5] 전역변수 a = ", a)

In [16]:
func1()

[func1] 지역변수 a =  1

In [17]:
func2()

[func2] 지역변수 a =  2

In [18]:
func3()

[func3] 전역변수 a =  5

In [19]:
func4()  # 이 함수를 실행하면 전역변수가 바뀜

[func4] 전역변수 a =  4

In [20]:
func5()  # 전역변수가 바뀐것을 확인할수 있음

[func5] 전역변수 a =  4

# 3. 람다함수
- ( lambda 인자 : 코드 )( 값 )

In [21]:
(lambda x: x**2)(3)

9

In [22]:
mySquare = lambda x: x**2

In [23]:
mySquare(5)

25

In [24]:
mySimpleFunc = lambda x,y,z: 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

# 4. 유용한 내장함수

### (1) 형변환 함수
- 정수형으로 변환 : int()
- 실수형으로 변환 : float()
- 문자형으로 변환 : str()
- 리스트로 변환 : list()
- 튜플로 변환 : tuple()
- 세트로 변환 : set()

In [25]:
int(1.23)

1

In [26]:
list1 = [1,2,3,4]
tuple1 = (5,6,7,8)
set1 = {1,3,5,7}

In [27]:
type(list1), type(tuple1), type(set1)

(list, tuple, set)

In [28]:
# list로 변환
list2 = list(tuple1)
list2, type(list2)

([5, 6, 7, 8], list)

In [29]:
# set로 변환
set2 = set(list1)
set2, type(set2)

({1, 2, 3, 4}, set)

### (2) bool함수
- 숫자를 받을때 : 0은 True, 그외는 False 반환
- 문자열을 받을때 : 문자열이 있으면 True, 없으면 False 반환
- 리스트, 튜플, 세트를 받을때 : 항목이 있으면 True, 없으면 False 반환

In [30]:
bool(2), bool(0)

(True, False)

In [31]:
bool('a'), bool(), bool(''), bool(' ')

(True, False, False, True)

In [32]:
bool(None)  # None은 아무것도 없는 것으로 본다

False

In [33]:
print(bool([1,2]))
print(bool(()))

True
False

In [34]:
# 문자열이 있으면 이름을 출력하고 없으면 입력된 문자열이 없다고 출력

def print_name():

    name = input('이름을 입력하시오 : ')

    if bool(name) == True:
        print('이름은 {}입니다.'.format(name))
    else:
        print('입력된 문자열이 없습니다.')

In [35]:
print_name()

이름을 입력하시오 :
입력된 문자열이 없습니다.

### (3) max(), min()
- max() : 최대값 출력
- min() : 최소값 출력
- 문자열도 가능
    - 문자열 비교시 첫번째 문자 비교 -> 두번째 문자 비교 ..
    - A < B < C < ... < Z < a < b < c < ... < z

In [36]:
num = [0,55,-2,33,29]

max(num), min(num)

(55, -2)

In [37]:
myStr = 'zsdcdks'

max(myStr), min(myStr)

('z', 'c')

In [38]:
myNum = {'Abc', 'abc', 'bcd', 'bfd'}

max(myNum), min(myNum)

('bfd', 'Abc')

### (4) abs()
- 절대값

In [39]:
abs(10), abs(-10)

(10, 10)

In [40]:
abs(-2.45)

2.45

### (5) sum()
- 리스트, 튜플, 세트 데이터의 모든 항목을 더함

In [41]:
sumList = [1,2,3,4,5,6,7]

sum(sumList)

28

### (6) len()
- 항목의 개수, 데이터의 길이 반환

In [42]:
# 문자열의 길이

len('abcdef')

6

In [43]:
# 항목의 갯수

len([1,2,3,4,5])

5

In [44]:
len({1:'Thomas', 2:'Edward'})

2

In [45]:
# 점수의 총점과 평균 구하기

score = [90,80,95,85]

# 1. sum, len을 이용하지 않고 구해보기

score_sum = 0
score_len = 0

for i in score:
    score_sum += i
    score_len += 1
    
print('총점 : {}, 평균 : {}'.format(score_sum, score_sum/score_len))

총점 : 350, 평균 : 87.5

In [46]:
# 2. sum, len 이용

score_sum2 = sum(score)
score_len2 = len(score)

print('총점 : {}, 평균 : {}'.format(score_sum2, score_sum2/score_len2))

총점 : 350, 평균 : 87.5